
<div class="row">
  <div class="columns large-12 medium-12 small-12">
    <h3>Nous Contacter</h3>
    <div class="row">
      <div class="large-9 columns">
        <iframe width="100%" height="400" frameborder="0" src="http://maps.google.fr/maps?q=*&amp;hl=fr&amp;ei=z_beSssn4rmMB6OEvcQF&amp;sll=47.207368,-1.611286&amp;sspn=0.006295,0.006295&amp;ie=UTF8&amp;view=map&amp;cid=5576884679547986586&amp;hq=*&amp;hnear=&amp;ll=47.241483,-1.611214&amp;spn=0.093234,0.245476&amp;z=12&amp;iwloc=A&amp;output=embed" marginwidth="0" marginheight="0" scrolling="no"></iframe>
      </div>
      <div class="large-3 columns">
        <h3>Par courrier</h3>
        <p>
          CDOS 44
          Maison des Sports
          44, rue Romain Rolland - BP 90312
          44103 Nantes Cedex 4
        </p>
        <h3>Par mail</h3>
        <p>loireatlantique@franceolympique.com</p>
        <h3>Par téléphone</h3>
        <p>02 40 58 61 29</p>
        <h3>Par fax</h3>
        <p>02 40 58 61 30</p>
      </div>
    </div>
    <h3>Ou bien remplissez le formulaire suivant</h3>
    <form method="post" name="form_contact">
      <fieldset>
        <legend>Informations vous concernant</legend>
        <div class="row">
          <div class="large-6 columns small-12">
            <label>Nom 
              <input type="text" name="nom"/>
            </label>
          </div>
          <div class="large-6 columns small-12">
            <label>Prénom 
              <input type="text" name="prenom"/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <label>Adresse e-mail 
              <input type="email" name="mail" placeholder="votre_adresse@boite_mail.fr"/>
            </label>
          </div>
          <div class="large-4 columns">
            <label>Numéro de téléphone
              <input type="tel" name="numtel" maxlength="10" placeholder="0244282930"/>
            </label>
          </div>
          <div class="large-4 columns">
            <label>Adresse postale
              <input type="text" name="adresse"/>
            </label>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Votre demande</legend>
        <div class="row collapse">
          <div class="large-3 columns"><span class="prefix">Sujet :</span></div>
          <div class="large-9 columns">
            <input type="text" name="objdmd"/>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Votre message
              <textarea name="message"></textarea>
            </label>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>