.row
	.columns.large-12.medium-12.small-12
		h3 Nous Contacter

		.row
			.large-9.columns
				iframe(width="100%", height="400", frameborder="0", src="http://maps.google.fr/maps?q=*&hl=fr&ei=z_beSssn4rmMB6OEvcQF&sll=47.207368,-1.611286&sspn=0.006295,0.006295&ie=UTF8&view=map&cid=5576884679547986586&hq=*&hnear=&ll=47.241483,-1.611214&spn=0.093234,0.245476&z=12&iwloc=A&output=embed", marginwidth="0", marginheight="0", scrolling="no")
			.large-3.columns
				h3 Par courrier
				p.
					CDOS 44
					Maison des Sports
					44, rue Romain Rolland - BP 90312
					44103 Nantes Cedex 4
				h3 Par mail
				p loireatlantique@franceolympique.com
				h3 Par téléphone
				p 02 40 58 61 29
				h3 Par fax
				p 02 40 58 61 30

		h3 Ou bien remplissez le formulaire suivant
		form(method="post",name="form_contact")
			fieldset
				legend Informations vous concernant
				.row
					.large-6.columns.small-12
						label Nom 
							input(type="text",name="nom")
					.large-6.columns.small-12
						label Prénom 
							input(type="text",name="prenom")
				.row
					.large-4.columns
						label Adresse e-mail 
							input(type="email",name="mail",placeholder="votre_adresse@boite_mail.fr")
					.large-4.columns
						label Numéro de téléphone
							input(type="tel",name="numtel",maxlength="10",placeholder="0244282930")
					.large-4.columns
						label Adresse postale
							input(type="text", name="adresse")
			fieldset
				legend Votre demande
				.row.collapse
					.large-3.columns
						span.prefix Sujet :
					.large-9.columns
						input(type="text", name="objdmd")
				.row
					.large-12.columns
						label Votre message
							textarea(name="message")
