.row
	.columns.large-8.medium-7.small-12
		.row
			#presentation.columns.large-12.medium-12.small-12
				#slider
					#slides
						div
							img(src="img/slide.png")
						div
							img(src="img/slide1.png")
						div
							img(src="img/slide2.png")
					i.fi-pause
				h3 Le CDOS, un incontournable du sport en Loire-Atlantique
				p Au total, ce sont 67 comités départementaux qui sont aujourd'hui affiliés au CDOS 44 . Fédérateur et représentatif du sport associatif départemental, le CDOS 44 est l'interlocuteur privilégié des pouvoirs publics, dans les affaires sportives en Loire-Atlantique. Il intervient ainsi en permanence aux côtés du Conseil Général de Loire-Atlantique et des services déconcentrés de l'Etat représentant le Ministère de la Jeunesse, des Sports et de la Vie Associative. Dans le cadre d'une politique sportive départementale, le rôle du CDOS 44 est de défendre le sport en général et ses valeurs éducatives et sociales en qualité de partenaire du Conseil Général et de la DDCS.

		.row
			#evenements.columns.large-6.medium-6.small-12
				h3 Les évènements
					//- http://www.cdos44.fr/index.php?option=com_content&view=category&layout=blog&id=3&Itemid=177
				ul
					li
						.datetime
							.date
								div 23-30 Mars
								div 2015
							.time
								div 14-17h
						.content
							.title
								a(href="") Venez découvrir le Bask'in nouvelle pratique sportive regroupant les personnes valides et en situation de handicap...
							.location Lieu : Nantes
						.clear

					li
						.datetime
							.date
								div 12 Jan
								div 2015
							.time
								div 12h
						.content
							.title
								a(href="") Stage jeunes nouveaux et futurs dirigeants
							.location Lieu : Nantes
						.clear

					li
						a(href="") Voir plus d'évènements ...

			#formations.columns.large-6.medium-6.small-12
				h3 Prochaines formations

				ul
					li
						.datetime
							.date
								div 26 Mars
								div 2015
							.time
								div 19h
						.content
							.title
								a(href="") Sophrologie
							.location Lieu : Nantes
							.availablePlaces Place(s) disponible(s) : 1
						.clear

					li
						.datetime
							.date
								div 25 Mars
								div 2015
							.time
								div 19h
						.content
							.title
								a(href="") La fiscalité des associations
							.location Lieu : Nantes
							.availablePlaces Place(s) disponible(s) : 11
						.clear

					li
						a(href="") Voir plus de formations ...

		.row
			#partenaires.columns.large-12.medium-12.small-12
				h3 Nos partenaires
				ul
					li
						a
							img(src="img/partenaires/BM_44.jpg")
					li
						a
							img(src="img/partenaires/Conseil-g_n_ral.jpg")
					li
						a
							img(src="img/partenaires/logo_casal+www.jpg")
					li
						a
							img(src="img/partenaires/Logo_credit_Mutuel.jpg")

	.columns.large-4.medium-5.small-12
		aside
			h5 Actualité
			#actualites
				.actu(data-actu="1")
					p.title Revue de Presse du CDOS
					small le vendredi 13 Mars 2015
					p Comme chaque mois, le CDOS 44 diffuse à l'ensemble de ses adhérents, la Revue de Presse du mois précédent.
				.actu(data-actu="2")
					p.title Le 29 mars : Raid du Quai vert
					small le lundi 02 Mars 2015
					p 3ème édition du Raid du Quai vert, éco-responsable ouvert à tous les amoureux des sports de nature !
				.actu(data-actu="3")
					p.title Dossier de demande de Subvention CNDS 2015
					small le vendredi 17 février 2015
					p La campagne CNDS 2015 est lancée. Vous pouvez télécharger les documents supports : dossier CNDS 2015 clubs 44, comité, note d’orientation départementale et guide projet club au sein de cet article.
				div.footer
					a.btn.fi-arrow-left#actu-prev
					a.btn.fi-arrow-right#actu-next
					a.btn.fi-arrows-expand

		aside
			h5 Boîte à outils
			div
				ul
					li
						a Centre de ressources
					li
						a Formations
					li
						a Services aux comités
					li
						a Acteurs du Sport
					li
						a Trouver un comité
					li
						a Glossaire
					li
						a Newsletter

script(type='text/javascript').
	$('#slides').slick({
		autoplay: true,
		autoplaySpeed: 3000,
		infinite: true,
		fade: true,
		cssEase: 'linear'
	});
