doctype html

html(lang="fr")

	head
		title="Comité Départemental Olympique et Sportif"
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no")

		link(rel="stylesheet", type="text/css", href="css/foundation.css")
		link(rel="stylesheet", type="text/css", href="css/normalize.css")
		link(rel="stylesheet", type="text/css", href="css/style.css")
		link(rel="stylesheet", type="text/css", href="css/foundation-icons.css")
		link(rel="stylesheet", type="text/css", href="css/slick.css")
		link(rel="stylesheet", type="text/css", href="css/slick-theme.css")
		link(rel="stylesheet", type="text/css", href='http://fonts.googleapis.com/css?family=Lato:300')
		link(rel="stylesheet", type="text/css", href='http://fonts.googleapis.com/css?family=Over+the+Rainbow')

		link(rel="icon", type="image/png", href="img/favicon.png")

	body
		header
			.row
				.columns.large-12.medium-12.small-12
					#social
						//- a.btn.fi-magnifying-glass(href="")
						a.btn.fi-social-facebook(href="")
						a.btn.fi-social-twitter(href="")
						a.btn.fi-mail(href="#contact")
					.row
						.columns.large-12.medium-12.small-12
							img(src="img/logo.jpg")
					.row
						.columns.large-12.medium-12.small-12
							h1 Comité Départemental Olympique & Sportif

		nav
			.row
				.columns.large-12.medium-12.small-12
					div#menu
						ul
							li#menu-tool
								a.fi-list
							li
								a(href="") Accueil
							li
								a(href="") CDOS
							li
								a(href="") CRIB
							li
								a(href="") Club Atlantique
							li
								a(href="") Club Formateur
							li.border-right
								a(href="") Actu
							li.search
								div
									i.fi-magnifying-glass
									input(type="text", name="search", placeholder="Rechercher...")
		#content

		footer
			.row
				.columns.large-12.medium-12.small-12
					p Copyright © 2015 CDOS 44. Tous droits réservés.
			.row
				.columns.large-12.medium-12.small-12
					ul
						li
							a(href="#contact") Contact
						li
							a(href="") Plan du site
						li
							a(href="") Mentions légales


		script(type="text/javascript" src="js/vendor/jquery.js")
		script(type="text/javascript" src="js/foundation.min.js")
		script(type="text/javascript" src="js/jquery-ui.min.js")
		script(type="text/javascript" src="js/slick.min.js")
		script(type="text/javascript" src="js/action.js")


