html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*------------------------------------*\
                 FONTS
\*------------------------------------*/
@font-face {
  font-family: "OverRainbow";
  src: url('/fonts/OvertheRainbow.ttf?1426951815') format('truetype');
}
/*------------------------------------*\
    		   VARIABLES
\*------------------------------------*/
/*------------------------------------*\
			  IMPORTS
\*------------------------------------*/
body {
  line-height: 1.5em;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.row {
  max-width: 68rem;
}

.btn {
  display: inline-block;
  line-height: normal;
  padding: 8px 10px;
  color: white;
  background-color: #105E9A;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #3F5874;
}
.btn:last-child {
  margin-right: 0;
}
.btn.fi-social-facebook {
  background-color: #3350AE;
}
.btn.fi-social-twitter {
  background-color: #00C4FC;
}

header {
  text-align: center;
}
header h1 {
  font-size: 1.4em;
  padding: 8px 0 20px 0;
  line-height: 1.2em;
}
@media only screen and (max-width: 40.0625em) {
  header h1 {
    font-size: 1em;
  }
}
header img {
  margin-top: 20px;
  max-height: 120px;
}
header #social {
  width: 34px;
  position: absolute;
  top: 45px;
  right: 0;
  margin: 0 15px;
  z-index: 9;
}
header #social a {
  width: 32px;
  margin-bottom: 1px;
}

nav {
  height: 60px;
  background-color: #105E9A;
  color: white;
  overflow: initial !important;
  -moz-transition-property: height, 2s, ease-in;
  -o-transition-property: height, 2s, ease-in;
  -webkit-transition-property: height, 2s, ease-in;
  transition-property: height 2s ease-in;
}
@media only screen and (max-width: 40.0625em) {
  nav.open {
    height: auto;
  }
}
nav .row {
  height: 100%;
}
nav .row .columns {
  height: 100%;
}
nav #menu ul {
  text-align: center;
}
nav #menu ul li {
  position: relative;
  float: left;
  display: block;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
nav #menu ul li a {
  display: block;
  line-height: 60px;
  padding: 0 20px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 40.0625em) {
  nav #menu ul li a {
    line-height: 40px;
  }
}
nav #menu ul li:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
nav #menu ul li:hover, nav #menu ul li:focus {
  background: rgba(255, 255, 255, 0.05);
}
nav #menu ul li.search {
  width: 45px;
  height: 60px;
  float: right;
  overflow: hidden;
  -moz-transition: width 200ms ease-in;
  -o-transition: width 200ms ease-in;
  -webkit-transition: width 200ms ease-in;
  transition: width 200ms ease-in;
}
nav #menu ul li.search div {
  line-height: 60px;
  height: 100%;
  margin: 0 10px;
}
nav #menu ul li.search div i.fi-magnifying-glass {
  display: inline-block !important;
}
nav #menu ul li.search div input {
  display: inline-block !important;
  margin: 0 0 0 5px;
  width: 145px;
  background: none;
  color: white;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: none;
}
nav #menu ul li.search div input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
nav #menu ul li.search div input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
nav #menu ul li.search div input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
nav #menu ul li.search div input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
nav #menu ul li.search:hover, nav #menu ul li.search.open {
  width: 190px;
}
@media only screen and (max-width: 40.0625em) {
  nav #menu ul li.search {
    display: none;
  }
}
nav #menu ul li#menu-tool {
  width: auto;
  float: right;
}
@media only screen and (min-width: 40.0625em) {
  nav #menu ul li#menu-tool {
    display: none;
  }
}
nav #menu ul li.border-right {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
@media only screen and (max-width: 40.0625em) {
  nav #menu ul li.border-right {
    border-right: none;
  }
}
@media only screen and (max-width: 40.0625em) {
  nav #menu ul li {
    width: 100%;
    border-left: none;
  }
}
nav #info {
  line-height: normal;
  position: absolute;
  right: 15px;
  bottom: 0;
  padding: 15px 30px;
  background: #333;
}
nav #info label, nav #info small {
  display: block;
  font-size: 13px;
  opacity: 0.8;
  text-align: center;
  margin: 0 0 10px 0;
}
nav #info a {
  text-decoration: none;
  color: white;
}
nav #info a small {
  margin-bottom: 0;
}
nav #info a p {
  text-align: center;
  font-size: 18px;
  margin: 0 0 5px 0;
}
@media only screen and (max-width: 64.0625em) {
  nav #info {
    display: none;
  }
}
@media only screen and (max-width: 40.0625em) {
  nav {
    height: 40px;
  }
}

/* #slider {
    display: none;
    
    .container{
        position: relative;
        div{
            position: relative;
        	p { // Commentaire des slides
                position: absolute;
                bottom: 0;left: 0;right: 0;
                padding: 5px 5px;
                text-align: center;
                background-color: $commentSliderBGColor;
                font-style: italic;
                font-size: 0.9em;
            }
        }

        i.fi-pause,
        .slick-prev,
        .slick-next{
            @include opacity(0);
            @include transition(opacity 200ms ease-in);
        }

        i.fi-pause{
            position: absolute;
            right: 10px;
            top: 0px;
            font-size: 30px;
            color: darken($commentSliderBGColor, 50%);
        }
        &:hover i.fi-pause,
        &:hover .slick-prev,
        &:hover .slick-next{
            @include opacity(1);
        }

        .slick-prev{
            left: 0;
            background-color: $commentSliderBGColor;
        }
        .slick-next{
            background-color: $commentSliderBGColor;
            right: 0;
        }
    }
} */
#content {
  margin-top: 20px;
}
#content h3 {
  line-height: 32px;
  margin: 0 0 20px 0;
  font-weight: normal;
  font-size: 28px;
}
#content .serviceDuSport {
  font-size: 1.3em;
  font-family: 'Over the Rainbow', Lato, Arial, Helvetica, cursive;
}
@media only screen and (max-width: 40.0625em) {
  #content .serviceDuSport {
    font-size: 1.1em;
  }
}
#content p {
  font-size: 16px;
  margin: 0 0 20px 0;
}
#content aside {
  margin: 0 0 20px 0;
}
#content aside h5 {
  display: block;
  padding: 0 20px;
  line-height: 50px;
  margin: 0 0 1px 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background: #bbbbbb;
}
#content aside > div {
  text-align: left;
  background: #f1f1f1;
  position: relative;
  padding: 30px;
}
#content aside > div .actu p.title {
  line-height: 30px;
  margin: 0 0 2px 0;
  font-size: 30px;
  opacity: .8;
  color: #333;
}
#content aside > div .actu small {
  display: block;
  font-size: 13px;
  opacity: .5;
  margin: 0 0 5px 0;
}
#content aside > div .actu:not(:first-child) {
  display: none;
}
#content aside > div ul {
  list-style-type: circle;
}
#content aside > div ul li {
  font-size: 16px;
  margin: 0 0 5px 10px;
}
#content aside > div ul li a:hover {
  text-decoration: underline;
}
#content aside > div .footer .btn:last-child {
  float: right;
}
#content #presentation, #content #evenements, #content #formations, #content #partenaires {
  margin-bottom: 20px;
}
#content #presentation #slider {
  position: relative;
}
#content #presentation #slider #slides, #content #presentation #slider .slick-slider {
  margin: 0 0 10px 0;
}
#content #presentation #slider #slides .slick-prev, #content #presentation #slider #slides .slick-next, #content #presentation #slider .slick-slider .slick-prev, #content #presentation #slider .slick-slider .slick-next {
  display: none !important;
  height: 100%;
  width: 5%;
  top: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -moz-transition: background-color 100ms ease-in;
  -o-transition: background-color 100ms ease-in;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}
#content #presentation #slider #slides .slick-prev:hover, #content #presentation #slider #slides .slick-next:hover, #content #presentation #slider .slick-slider .slick-prev:hover, #content #presentation #slider .slick-slider .slick-next:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
#content #presentation #slider #slides .slick-prev, #content #presentation #slider .slick-slider .slick-prev {
  left: 0;
}
#content #presentation #slider #slides .slick-next, #content #presentation #slider .slick-slider .slick-next {
  right: 0;
}
#content #presentation #slider:hover #slides .slick-prev, #content #presentation #slider:hover #slides .slick-next, #content #presentation #slider:hover i.fi-pause {
  display: block !important;
}
#content #presentation #slider i.fi-pause {
  display: none !important;
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 30px;
  color: rgba(65, 86, 94, 0.8);
}
#content #evenements ul li, #content #formations ul li {
  margin-bottom: 20px;
}
#content #evenements ul li a, #content #formations ul li a {
  color: #222222;
  text-decoration: none;
}
#content #evenements ul li a:hover, #content #formations ul li a:hover {
  text-decoration: underline;
}
#content #evenements ul li .datetime, #content #formations ul li .datetime {
  width: 58px;
  background-color: #105E9A;
  color: white;
  float: left;
  text-align: center;
}
#content #evenements ul li .datetime .date, #content #formations ul li .datetime .date {
  padding: 1px 5px;
}
#content #evenements ul li .datetime .time, #content #formations ul li .datetime .time {
  border-top: 1px solid white;
  padding: 1px 5px;
}
#content #evenements ul li .content, #content #formations ul li .content {
  padding-left: 65px;
  padding-top: 2px;
}
#content #evenements ul li .content .title, #content #formations ul li .content .title {
  font-size: 1.1em;
}
#content #evenements ul li .content .location, #content #formations ul li .content .location {
  font-size: 0.9em;
}
#content #evenements ul li .content .availablePlaces, #content #formations ul li .content .availablePlaces {
  font-size: 0.9em;
}
#content #evenements ul li .clear, #content #formations ul li .clear {
  clear: both;
}
#content #partenaires ul {
  text-align: center;
}
#content #partenaires ul li {
  display: inline-block;
}
#content #partenaires ul li a {
  display: inline-block;
  vertical-align: middle;
}
#content #partenaires ul li a img {
  margin: 5px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -moz-transition: linear 200ms;
  -o-transition: linear 200ms;
  -webkit-transition: linear 200ms;
  transition: linear 200ms;
}
#content #partenaires ul li a img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
#content #crib_boiteoutil {
  margin: 40px 0;
}
#content #crib_boiteoutil .left {
  display: inline-block;
  width: 50%;
  height: 300px;
  text-align: center;
}
#content #crib_boiteoutil .right {
  display: inline-block;
  width: 50%;
  height: 300px;
  text-align: center;
}
#content #crib_boiteoutil aside {
  margin: 0 10%;
  text-align: left;
}
#content #crib_boiteoutil aside h5 {
  background-color: #BBB;
  margin-bottom: 1px;
  padding: 15px 20px;
}
#content #crib_boiteoutil aside ul li {
  margin-bottom: 1px;
  font-size: 1em;
  padding: 10px 15px;
  cursor: pointer;
}
#content #crib_boiteoutil aside ul li:nth-child(2n+1) {
  background-color: #E1E1E1;
}
#content #crib_boiteoutil aside ul li:nth-child(2n+1):hover {
  background: #d9d9d9;
}
#content #crib_boiteoutil aside ul li:nth-child(2n) {
  background-color: #E9E9E9;
}
#content #crib_boiteoutil aside ul li:nth-child(2n):hover {
  background: #e1e1e1;
}

footer {
  padding: 30px 0 40px 0;
  border-top: 1px solid #e5e5e5;
  background-color: #f1f1f1;
}
footer p {
  font-size: 13px;
  opacity: 0.8;
}
footer ul {
  font-size: 11px;
}
footer ul li {
  display: inline-block;
  margin: 0 15px 0 0;
}
footer ul li a {
  color: #105E9A;
  text-decoration: none;
}
footer ul li a:hover {
  text-decoration: underline;
}
