#content {
	margin-top: 20px;

	h3 {
		line-height: 32px;
		margin: 0 0 20px 0;
		font-weight: normal;
		font-size: 28px;
	}

	.serviceDuSport{
		font-size: 1.3em;
		font-family: 'Over the Rainbow', Lato, Arial, Helvetica, cursive;
		@media only screen and (max-width: 40.0625em) {
			font-size: 1.1em;
		}
	}

	p {
		font-size: 16px;
		margin: 0 0 20px 0;
	}

	aside {
		margin: 0 0 20px 0;

		h5 {
			display: block;
			padding: 0 20px;
			line-height: 50px;
			margin: 0 0 1px 0;
			color: #fff;
			font-size: 18px;
			font-weight: bold;
			background: $darkgray;
		}

		& > div {
			text-align: left;
			background: $gray;
			position: relative;
			padding: 30px;

			.actu {
				p.title {
					line-height: 30px;
					margin: 0 0 2px 0;
					font-size: 30px;
					opacity: .8;
					color: #333;
				}

				small {
					display: block;
					font-size: 13px;
					opacity: .5;
					margin: 0 0 5px 0;
				}

				&:not(:first-child) {
					display: none;
				}
			}

			ul {
				list-style-type: circle;

				li {
					font-size: 16px;
					margin: 0 0 5px 10px;

					a:hover {
						text-decoration: underline;
					}
				}
			}

			.footer {
				.btn:last-child {
					float: right;
				}
			}
		}
	}

	#presentation, #evenements, #formations, #partenaires {
		margin-bottom: 20px;
	}

	#presentation {

		#slider {
			position: relative;

			#slides, .slick-slider {
				margin: 0 0 10px 0;

				.slick-prev, .slick-next {
					display: none !important;
					height: 100%;
					width: 5%;
					top: 0;
					margin: 0;
					background-color: rgba(white,.5);
					@include transition(background-color 100ms ease-in);

					&:hover {
						background-color: rgba(white,.7);
					}
				}

				.slick-prev {
					left: 0;
				}
				.slick-next {
					right: 0;
				}

			}
			
			&:hover {
				#slides .slick-prev, #slides .slick-next, i.fi-pause {
					display: block !important;
				}
			}

			i.fi-pause {
				display: none !important;
				position: absolute;
				right: 10px;
				top: 0px;
				font-size: 30px;
				color: darken($commentSliderBGColor, 50%);
			}
		}
	}

	#evenements, #formations {
		ul{

			li{
				margin-bottom: 20px;

				a {
					color: rgb(34, 34, 34);
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				.datetime{
					width: 58px;
					// height: 73px;
					background-color: $blue;
					color: white;
					float: left;
					text-align: center;
					.date{
						padding: 1px 5px;
						div {
						}
					}
					.time{
						border-top: 1px solid white;
						padding: 1px 5px;
						div{

						}
					}
				}
				.content{
					padding-left: 65px;
					padding-top: 2px; // Voir s'il n'y a pas plus correct
					.title{
						font-size: 1.1em;
					}
					.location {
						font-size: 0.9em;
					}
					.availablePlaces{
						font-size: 0.9em;
					}
				}
				.clear {
					clear: both;
				}
			}
		}
	}

	#partenaires {
		ul {
			text-align: center;

			li {
				display: inline-block;
				a{
					display: inline-block;
					vertical-align: middle;
					img {
						margin: 5px;
						@include filter(grayscale(1));
						@include transition(200ms linear);

						&:hover {
							@include filter(grayscale(0));
						}
					}
				}

			}
		}
	}

	#crib_boiteoutil{
		margin: 40px 0;
		.left{
			display: inline-block;
			width: 50%;
			height: 300px;
			text-align: center;
		}

		.right{
			display: inline-block;
			width: 50%;
			height: 300px;
			text-align: center;
		}
		aside{
			margin: 0 10%;
			text-align: left;
			h5{
				background-color: #BBB;
				margin-bottom: 1px;
				padding: 15px 20px;
			}
			ul{
				li{
					margin-bottom: 1px;
					font-size: 1em;
					padding: 10px 15px;
					cursor: pointer;

					&:nth-child(2n+1){
						background-color: #E1E1E1;
						&:hover{
							background: darken(#E1E1E1, 3%);
						}
					}
					&:nth-child(2n){
						background-color: #E9E9E9;
						&:hover{
							background: darken(#E9E9E9, 3%);
						}
					}


				}
			}
		}
	}
}

