footer {
	padding: 30px 0 40px 0;
	border-top: 1px solid #e5e5e5;
	background-color: $gray;

	p {
		font-size: 13px;
		opacity: 0.8;
	}

	ul {
		font-size: 11px;

		li {
			display: inline-block;
			margin: 0 15px 0 0;

			a {
				color: $blue;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}