body {
	line-height: 1.5em;
	font-family: Lato, Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.row {
	max-width: 68rem; // correctif
}

.btn {
	display: inline-block;
	line-height: normal;
	padding: 8px 10px;
	color: white;
	background-color: $blue;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		background-color: $darkblue;
	}

	&:last-child {
		margin-right: 0;
	}

	&.fi-social-facebook {
		background-color: #3350AE;
	}

	&.fi-social-twitter {
		background-color: #00C4FC;
	}

}