header {
	text-align: center;

	h1{
		font-size: 1.4em;
		padding: 8px 0 20px 0;
		line-height: 1.2em;

		@media only screen and (max-width: 40.0625em) {
			font-size: 1em;
		}
	}

	img {
		margin-top: 20px;
		max-height: 120px;
	}


	#social {
		width: 34px;
		position: absolute;
		top: 45px;
		right: 0;
		margin: 0 15px;
		z-index: 9;
		
		a {
			width: 32px;
			margin-bottom: 1px;
		}
	}
}