nav {
	height: $heightHeader;
	background-color: $blue;
	color: white;
	overflow: initial !important;

	@include transition-property(height 2s ease-in);

	&.open {
		@media only screen and (max-width: 40.0625em) {
			height: auto;
		}
	}

	.row {
		height: 100%;

		.columns {
			height: 100%;
		}
	}

	#menu {
		ul {
			text-align: center;

			li {
				position: relative;
				float: left;
				display: block;
				border-left: 1px solid rgba(255,255,255,0.1);
				cursor: pointer;

				a {
					display: block;
					line-height: $heightHeader;
					padding: 0 20px;
					font-size: 15px;
					font-weight: bold;
					text-decoration: none;
					color: white;

					@media only screen and (max-width: 40.0625em) {
						line-height: $heightHeader - 20px;
					}
				}

				&:last-child {
					border-right: 1px solid rgba(white, .1);
				}

				&:hover, &:focus {
					background: rgba(255,255,255,0.05);
				}

				&.search {
					width: 45px;
					height: 60px;
					float: right;
					overflow: hidden;
					@include transition(width 200ms ease-in);

					div {
						line-height: 60px;
						height: 100%;
						margin: 0 10px;

						i.fi-magnifying-glass {
							display: inline-block !important;
						}

						input {
							display: inline-block !important;
							margin: 0 0 0 5px;
							width: 145px;
							background: none;
							color: white;
							border: 0;
							border-bottom: 1px solid rgba(white,.3);
							box-shadow: none;

							@include input-placeholder {
								color: rgba(white,.9);
							}
						}
					}

					&:hover, &.open {
						width: 190px;
					}

					@media only screen and (max-width: 40.0625em) {
						display: none;
					}
				}

				&#menu-tool {
					width: auto;
					float: right;

					@media only screen and (min-width: 40.0625em) {
						display: none;
					}
				}

				&.border-right { // magouille
					border-right: 1px solid rgba(255,255,255,0.1);

					@media only screen and (max-width: 40.0625em) {
						border-right: none;
					}
				}

				@media only screen and (max-width: 40.0625em) {
					width: 100%;
					border-left: none;
				}
			}

		}
	}

	#info {
		line-height: normal;
		position: absolute;
		right: 15px; bottom: 0;
		padding: 15px 30px;
		background: #333;

		label, small {
			display: block;
			font-size: 13px;
			opacity: 0.8;
			text-align: center;
			margin: 0 0 10px 0;
		}

		a {
			text-decoration: none;
			color: white;

			small {
				margin-bottom: 0;
			}

			p {
				text-align: center;
				font-size: 18px;
				margin: 0 0 5px 0;
			}
		}

		@media only screen and (max-width: 64.0625em) {
			display: none;
		}
	}

	@media only screen and (max-width: 40.0625em) {
		height: 40px;
	}
}



