/* #slider {
    display: none;
    
    .container{
        position: relative;
        div{
            position: relative;
        	p { // Commentaire des slides
                position: absolute;
                bottom: 0;left: 0;right: 0;
                padding: 5px 5px;
                text-align: center;
                background-color: $commentSliderBGColor;
                font-style: italic;
                font-size: 0.9em;
            }
        }

        i.fi-pause,
        .slick-prev,
        .slick-next{
            @include opacity(0);
            @include transition(opacity 200ms ease-in);
        }

        i.fi-pause{
            position: absolute;
            right: 10px;
            top: 0px;
            font-size: 30px;
            color: darken($commentSliderBGColor, 50%);
        }
        &:hover i.fi-pause,
        &:hover .slick-prev,
        &:hover .slick-next{
            @include opacity(1);
        }

        .slick-prev{
            left: 0;
            background-color: $commentSliderBGColor;
        }
        .slick-next{
            background-color: $commentSliderBGColor;
            right: 0;
        }
    }
} */