
@import "compass";
@import "compass/reset";

/*------------------------------------*\
                 FONTS
\*------------------------------------*/
@include font-face("OverRainbow", font-files("OvertheRainbow.ttf"));


/*------------------------------------*\
    		   VARIABLES
\*------------------------------------*/


$heightHeader: 60px;
$blue: #105E9A;
$darkblue: #3F5874;
$commentSliderBGColor:rgba(198,211,216, 0.8);
$gray: #f1f1f1;
$darkgray: #bbbbbb;



/*------------------------------------*\
			  IMPORTS
\*------------------------------------*/


@import "partials/_general.scss";

@import "partials/_header.scss";
@import "partials/_nav.scss";
@import "partials/_slider.scss";
@import "partials/_content.scss";
@import "partials/_footer.scss";





